@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Mulish", sans-serif;
}

@media screen and (max-width: 950px) {
  .navbar-nav {
    text-align: center;
  }
  .container-fluid .navbar-brand {
    margin: 0 auto;
  }
}

@media screen and (max-width: 764px) {
  footer .sosmed {
    margin-bottom: 15px;
  }
}

.carousel {
  margin-top: 30px;
}

.collapse ul {
  margin: 0 auto;
}

.tombol ul {
  text-decoration: none;
  display: flex;
  margin-left: 5px;
}

.tombol ul li a {
  margin-left: 5px;
}

#beranda {
  padding: 80px;
  margin-bottom: -80px;
}

#produk h2 {
  padding: 70px;
  margin-bottom: -60px;
  text-align: center;
  font-weight: bold;
}

.produk {
  margin-bottom: -30px;
}

.card-title {
  margin-top: -10px;
}

.card p {
  font-size: 15px;
  margin-top: -7px;
  margin-bottom: 4px;
}

.row .card:hover {
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
}

/* #kontak .container-fluid {
  margin-top: -100px;
} */

.sosmed a {
  text-decoration: none;
  color: white;
}

.sosmed a:hover {
  color: white;
}

#produk .halaman a {
  text-decoration: none;
  color: black;
  background-color: #dadada;
  padding: 10px;
  border-radius: 3px;
}

#produk .halaman a:hover {
  background-color: #0d6efd;
  color: white;
}
