@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

@media screen and (max-width: 764px) {
  footer .sosmed {
    margin-bottom: 20px;
  }
  .user {
    text-align: center;
  }
  .head-tambah {
    text-align: center;
    margin-bottom: 10px;
  }
}

* {
  font-family: "Mulish", sans-serif;
}

.collapse ul {
  margin: 0 auto;
}

.keluar a {
  text-decoration: none;
  color: #fff;
}

.keluar a:hover {
  color: #fff;
}

#daftar-pesanan h2 {
  font-weight: bold;
}

#produk .produk h2 {
  margin-bottom: 40px;
  font-weight: bold;
}

#produk {
  margin-top: -30px;
}

.row .card:hover {
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
}

.card p {
  margin-top: -8px;
  margin-bottom: 2px;
}

.sosmed a {
  text-decoration: none;
  color: white;
}

.sosmed a:hover {
  color: white;
}

#daftar-pesanan .halaman a {
  text-decoration: none;
  color: white;
  background-color: #0d6efd;
  padding: 7px;
  border-radius: 3px;
}

#daftar-pesanan .halaman a:hover {
  background-color: #ececec;
  color: black;
}

#produk .halaman a {
  text-decoration: none;
  color: white;
  background-color: #0d6efd;
  padding: 7px;
  border-radius: 3px;
}

#produk .halaman a:hover {
  background-color: #ececec;
  color: black;
}
