@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Praise&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

.container-fluid .navbar-brand {
  font-family: "praise";
}

.collapse ul {
  margin: 0 auto;
}

.card-title {
  margin-top: -10px;
}

.card p {
  font-size: 15px;
  margin-top: -7px;
  margin-bottom: 4px;
}

.row .card:hover {
  box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.4);
}

.sosmed a {
  text-decoration: none;
  color: white;
}

.sosmed a:hover {
  color: white;
}

@media screen and (max-width: 950px) {
  footer .sosmed {
    margin-bottom: 15px;
  }
  .container-fluid .navbar-brand {
    margin: 0 auto;
  }
  .row .card:hover {
    box-shadow: 3px 8px 8px rgba(0, 0, 0, 0.4);
    transform: scale(1.02);
  }
}
