@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Praise&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

.container-fluid .navbar-brand {
  font-family: "praise";
}

.collapse ul {
  margin: 0 auto;
}

.sosmed a {
  text-decoration: none;
  color: white;
}

.sosmed a:hover {
  color: white;
}

.container-fluid .row .gambar-produk {
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 950px) {
  .container-fluid .navbar-brand {
    margin: 0 auto;
  }
  footer .sosmed {
    margin-bottom: 15px;
  }
}
